body{
background-color: blueviolet;
}
#titulo{
    font-size: 25px;
    text-align: center;
    color: aqua (139, 33, 120);
}
.texto {
    text-align: center;
    color: deepskyblue ;
    font-size: 20px;
}
#banner {
    background-color: rgb(60, 47, 107);
    width: 30%;
    display: block;
    padding: 10px;
    margin: auto;
}
.banner {
    background-image: -o-linear-gradient(red);
    color: blue;
}
.texto {
    color: black;
}