body{
background-color: blueviolet;
}
#titulo{
    font-size: 25px;
    text-align: center;
    color: aqua (139, 33, 120);
}
.texto {
    text-align: center;
    color: deepskyblue ;
    font-size: 20px;
}
#banner {
    background-color: darkolivegreen;
    width: 30%;
    display: block;
}